body {
    font-size: 12pt;
    color: white;
    background-color: rgb(36, 36, 36);
    margin: 1.2rem;
    font-family: Arial, Verdana, sans-serif;
    margin-left: 8rem;
    margin-right: 8rem;
}

pre {
    background-color: rgb(49, 49, 49);
}

.section-header {
    font-size: 125%;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: bold;
}
:is(.fields, .functions, .methods, .records, .namespaces) .section-header {
    padding-bottom: 0.2em;
    border-bottom: 1px solid;
}

.overload .function-signature {
    /* Hides the space between `function-name` and `()`. */
    display: flex;
    flex-wrap: wrap;
}
.overload .function-signature>:not(.function-name) {
    margin-right: 0.2em;  /* Put back the space after other elements */
}
.overload .function-signature>.function-params>.type-name {
    margin-right: 0.2em;  /* Put back the space after other elements */
}
.overload .function-signature>.function-params>.parameter-default-eq {
    margin-left: 0.2em;  /* Put back the space after other elements */
    margin-right: 0.2em;  /* Put back the space after other elements */
}

.description.short {
    margin: 0;
    line-height: 1.2;
}
.description.short p {
    margin-block-start: 0;
    margin-block-end: 0;
}
.description.long {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
    line-height: 1.4;
}
.overview .description :is(h1, h2, h3, h4, h5, h6) {
    border-bottom: 1px solid rgb(184, 184, 184);
}
.overview .description h1 {
    font-size: 120%;
}
.description h1 {
    font-size: 100%;
    font-weight: bold;
    color: rgb(250, 199, 121);
}
.description h2 {
    font-size: 100%;
    font-weight: bold;
    color: rgb(250, 199, 121);
}
.description pre {
    padding: 1em;
}

.overview .type-signature {
    background-color: rgba(43, 43, 43, 1.0);
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.overview .type-signature .struct {
    color: rgb(130, 169, 243);
}
.overview .type-signature .class {
    color: rgb(125, 231, 235);
}
.overview .type-signature .union {
    color: rgb(132, 229, 173);
}
.overview .type-signature .type-name {
    color: rgb(130, 221, 135);
}

.type .section:is(.fields, .methods) .static {
    color: rgb(240, 147, 147);
}
.type .section:is(.fields, .methods) .type-name {
    color: rgb(105, 223, 105);
}
.type .section:is(.fields, .methods) .volatile {
    color: yellow;
}
.type .section:is(.fields, .methods) .const {
    color: yellowgreen;
}

.overview .overload-set {
    background-color: rgba(43, 43, 43, 1.0);
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.overview .section-header a {
    text-decoration: none;
}
.overview .section-header a:hover {
    text-decoration: underline;
}
.overview .section-header .type-name {
    color: rgb(166, 240, 176);
}

:is(.type-signature, .function-signature, .member-signature, .requires, .deleted, .virtual) {
    font-family: monospace;
}
.function-signature :is(.function-auto, .return-arrow) {
    color:rgb(173, 173, 173);
}

a.function-name {
    text-decoration: none;
    color: rgb(191, 142, 236);
}
a.function-name:hover {
    text-decoration: underline;
}
a.type-name {
    text-decoration: none;
    color: rgb(142, 201, 236);
}
a.type-name:hover {
    text-decoration: underline;
}
a.field-name {
    text-decoration: none;
    color: rgb(142, 201, 236);
}
a.field-name:hover {
    text-decoration: underline;
}
a.project-name {
    text-decoration: none;
    color: rgb(207, 66, 184);
}
a.project-name:hover {
    text-decoration: underline;
}
a.namespace-name {
    text-decoration: none;
    color: rgb(142, 214, 236);
}
a.namespace-name:hover {
    text-decoration: underline;
}

.overload :is(.requires, .deleted, .virtual) {
    margin-left: 1.5rem;
}
.overload .requires .requires-keyword {
    color: rgb(84, 194, 238)
}
.overload .requires .requires-paren {
    color: rgb(180, 180, 180)
}
.overload .requires .requires-constaint {
    margin-left: 1.5rem;
    color: rgb(87, 218, 218)
}
.overload .deleted {
    color: rgb(238, 84, 110)
}
.overload .virtual {
    color: rgb(84, 238, 117)
}

.item-table {
    display: table;
    overflow-wrap: break-word;
}
.item-table > li {
    display: table-row;
}
.item-table > li > div {
    display: table-cell;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.item-table > li.nested > div:first-child {
    padding-left: 1.5rem;
}
.item-table .item-name {
    padding-right: 1.25rem;
}
