body {
    font-size: 12pt;
    color: white;
    background-color: rgb(59, 59, 59);
    margin: 1.2em;
    font-family: Arial, Verdana, sans-serif;
}

pre {
    background-color: rgb(49, 49, 49);
}

.section-header {
    font-size: 125%;
    margin-top: 1em;
    margin-bottom: 1em;
}
:is(.fields, .functions, .methods, .records, .namespaces) .section-header {
    padding-bottom: 0.2em;
    border-bottom: 1px solid;
}

.overload {
    /* Hides the space between `function-name` and `()`. */
    display: flex;
}
.overload>:not(.function-name) {
    margin-right: 0.2em;  /* Put back the space after other elements */
}

.description.short {
    margin: 0;
}
.description.short p {
    margin-block-start: 0;
    margin-block-end: 0;
}
.description.long {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 1em;
}
.description h1 {
    font-size: 100%;
    font-weight: bold;
    color: rgb(250, 199, 121);
}
.description pre {
    padding: 1em;
}

 .project-name {
    color: rgb(207, 66, 184);
}
 .function-name {
    color: rgb(191, 142, 236);
}
 .namespace-name {
    color: rgb(142, 214, 236);
}

.type-name {
    color: rgb(105, 223, 105);
}

.type .overview .section-header .type-name {
    color: rgb(166, 240, 176);
}
.type .overview .type-signature {
    background-color: rgba(43, 43, 43, 1.0);
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.type .overview .type-signature .struct {
    color: rgb(130, 169, 243);
}
.type .overview .type-signature .class {
    color: rgb(125, 231, 235);
}
.type .overview .type-signature .union {
    color: rgb(132, 229, 173);
}
.type .overview .type-signature .type-name {
    color: rgb(130, 221, 135);
}

.type .section:is(.fields, .methods) .static {
    color: rgb(240, 147, 147);
}
.type .section:is(.fields, .methods) .type-name {
    color: rgb(105, 223, 105);
}
.type .section:is(.fields, .methods) .volatile {
    color: yellow;
}
.type .section:is(.fields, .methods) .const {
    color: yellowgreen;
}
.type .section:is(.fields, .methods) :is(.field-name, .function-name) {
    color: rgb(191, 142, 236);
}

.function .overview .function-signature {
    background-color: rgba(43, 43, 43, 1.0);
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.item-table {
    display: table;
    overflow-wrap: break-word;
}
.item-table > li {
    display: table-row;
}
.item-table > li > div {
    display: table-cell;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}
.item-table .item-name {
    padding-right: 1.25rem;
}
