body {
    color: white;
    background-color: rgb(59, 59, 59);
    margin: 1.2em;
}

pre {
    background-color: rgb(49, 49, 49);
}

.section-header {
    font-size: 125%;
    margin-top: 1em;
    margin-bottom: 1em;
}
.section-header.fields {
    padding-bottom: 0.2em;
    border-bottom: 1px solid;
}

.type .type-signature {
    background-color: rgba(43, 43, 43, 1.0);
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.type .struct {
    color: orange;
}

.type .class {
    color: orangered;
}

.type .type-name {
    color: rgb(105, 223, 105);
}

.type .fields .volatile {
    color: yellow;
}

.type .fields .const {
    color: yellowgreen;
}

.field.name {
    color: rgb(191, 142, 236);
}

.section-item {
    margin-top: 0.5em;
}

.description {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    margin-left: 1em;
}
